<div class="col">
    <div class="card">
        <img src="image/ForProject.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">Мужской кошелок из коровьей кожи, идеально подойдет к повседневнему использованию.</p>
        </div>
    </div>
</div>