<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
</head>

<body>
<section style="text-align: center">
    <form action="/admin/addCustomer" method="POST">
        <h5>Add film</h5>
        <input type="text" name="customerFullname" placeholder="customerFullname">
        <input type="text" name="customerEmail" placeholder="customerEmail">
        <input type="text" name="customerMobile" placeholder="customerMobile">
        <input type="text" name="customerAddress" placeholder="customerAddress">
        <button type="submit"> Create </button>
    </form>
    <form action="/admin/deleteCustomer" method="POST">
        <h5>Delete film</h5>
        <input type="text" name="deleteCust" placeholder="customerFullname">
        <button type="submit"> Delete </button>
    </form>
</section>
</body>

</html>